<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ExternalModules.Properties.Settings.mcs_fsConnectionString"
            connectionString="Data Source=10.4.1.16;Initial Catalog=mcs_fs;Persist Security Info=True;Uid=mcs_it;Pwd=millerlite1"
            providerName="System.Data.SqlClient" />
        <add name="ExternalModules.Properties.Settings.mcs_fsConnectionString1"
            connectionString="Data Source=10.4.1.16;Initial Catalog=mcs_fs;Persist Security Info=True;Uid=mcs_it;Pwd=millerlite1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>