<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Common.Properties.Settings.IMConnectionString" connectionString="Data Source=10.4.1.16;Initial Catalog=mcs_im;Uid=mcs_im;pwd=budweiser567;Integrated Security=false"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>